* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

html,
body {
  background-color: rgb(22, 97, 158);
  color: white;
  margin: 0;
  padding: 0;
}

body > div {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
  min-height: 100%;
}

a {
  color: rgb(204, 220, 233);
}
